.common-card{
    border-radius: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    transition:all 0.3s ease;
    overflow: hidden;
}
.common-card:hover{
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
.common-card__content{
    padding: 15px 20px;

}

.common-card__title{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}